//! **************************************************************************
// Written by: Map P.28xd on Fri Feb 26 10:39:08 2016
//! **************************************************************************

SCHEMATIC START;
COMP "en" LOCATE = SITE "G8" LEVEL 1;
COMP "dev_send_eop" LOCATE = SITE "D2" LEVEL 1;
COMP "clk" LOCATE = SITE "E6" LEVEL 1;
COMP "rst" LOCATE = SITE "U15" LEVEL 1;
COMP "dev_waddr" LOCATE = SITE "F4" LEVEL 1;
COMP "dev_wdata" LOCATE = SITE "E3" LEVEL 1;
COMP "dev_r" LOCATE = SITE "F2" LEVEL 1;
COMP "dev_w" LOCATE = SITE "H6" LEVEL 1;
COMP "dev_dout<10>" LOCATE = SITE "R7" LEVEL 1;
COMP "dev_dout<11>" LOCATE = SITE "N6" LEVEL 1;
COMP "dev_dout<12>" LOCATE = SITE "R5" LEVEL 1;
COMP "dev_dout<20>" LOCATE = SITE "U2" LEVEL 1;
COMP "dev_dout<13>" LOCATE = SITE "U5" LEVEL 1;
COMP "dev_dout<21>" LOCATE = SITE "T2" LEVEL 1;
COMP "dev_dout<14>" LOCATE = SITE "R3" LEVEL 1;
COMP "dev_dout<22>" LOCATE = SITE "P2" LEVEL 1;
COMP "dev_dout<30>" LOCATE = SITE "G3" LEVEL 1;
COMP "dev_dout<15>" LOCATE = SITE "T4" LEVEL 1;
COMP "dev_dout<23>" LOCATE = SITE "N2" LEVEL 1;
COMP "dev_dout<31>" LOCATE = SITE "J7" LEVEL 1;
COMP "dev_dout<16>" LOCATE = SITE "N5" LEVEL 1;
COMP "dev_dout<24>" LOCATE = SITE "M3" LEVEL 1;
COMP "dev_dout<17>" LOCATE = SITE "N4" LEVEL 1;
COMP "dev_dout<25>" LOCATE = SITE "L2" LEVEL 1;
COMP "dev_dout<18>" LOCATE = SITE "P3" LEVEL 1;
COMP "dev_dout<26>" LOCATE = SITE "K2" LEVEL 1;
COMP "dev_dout<19>" LOCATE = SITE "L6" LEVEL 1;
COMP "dev_dout<27>" LOCATE = SITE "L4" LEVEL 1;
COMP "dev_dout<28>" LOCATE = SITE "J3" LEVEL 1;
COMP "dev_dout<29>" LOCATE = SITE "L7" LEVEL 1;
COMP "dev_dout<0>" LOCATE = SITE "R11" LEVEL 1;
COMP "dev_dout<1>" LOCATE = SITE "T12" LEVEL 1;
COMP "dev_dout<2>" LOCATE = SITE "N10" LEVEL 1;
COMP "dev_dout<3>" LOCATE = SITE "M10" LEVEL 1;
COMP "dev_dout<4>" LOCATE = SITE "U11" LEVEL 1;
COMP "dev_dout<5>" LOCATE = SITE "M8" LEVEL 1;
COMP "dev_dout<6>" LOCATE = SITE "U8" LEVEL 1;
COMP "dev_dout<7>" LOCATE = SITE "U7" LEVEL 1;
COMP "dev_dout<8>" LOCATE = SITE "N7" LEVEL 1;
COMP "dev_dout<9>" LOCATE = SITE "T6" LEVEL 1;
SCHEMATIC END;

